.game .navbar-fixed-top + .container {
  margin-top: 75px;
  margin-bottom: 20px;
}

.conversation {
  margin-bottom: 10px;
}

.conversation > p {
  margin-bottom: 5px;
}

.choice {
  cursor: pointer;
}

.in-text-choices dt {
  font-weight: lighter;
}

.in-text-choices dt.chosen {
  font-weight: bold;
}
